@media (max-width: 1800px) {
  .content__box {
    padding-top: 450px;
    padding-left: 900px;
    padding-right: 150px;
  }
}

@media (max-width: 1620px) {
  .header__logo {
    margin-left: 50px;
  }
  .header__top {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header__top-loc {
    margin-left: 0px;
  }
  .header__title-box {
    margin-left: 300px;
  }
}

@media (max-width: 1450px) {
  .content__box {
    padding-left: 700px;
    padding-right: 50px;
  }
  .berry4 {
    left: 0px;
  }
  .leaf2 {
    left: 0px;
  }
  .leaf3 {
    right: 0px;
  }
  .leaf6 {
    left: 0px;
  }
  .berry7 {
    right: 0px;
  }
  .leaf7 {
    right: 0;
  }
  .berry8 {
    left: 0;
  }
}

@media (max-width: 1250px) {
  .content__box {
    padding-left: 600px;
    padding-right: 50px;
  }
  .footer__wrapper {
    margin: 0 20px;
  }
}

@media (max-width: 1200px) {
  .catalog__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog__card {
    max-width: 50%;
  }
  .chef__item-title {
    padding-left: 10px;
  }
  .slider-wrap__top {
    height: 20%;
  }
  .slider-wrap__bottom {
    height: 20%;
  }
}

@media (max-width: 1000px) {
  .header__title-box {
    margin: 0 auto;
    padding-top: 200px;
  }
  .header__title {
    position: relative;
    z-index: 250;
  }
  .header__subtitle {
    position: relative;
    z-index: 255;
  }
  .berry {
    z-index: 120;
  }
  .header__menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__menu-item {
    margin-left: 10px;
  }
  .content__box {
    padding-left: 500px;
  }
  .chef__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chef__item {
    width: auto;
    margin-bottom: 50px;
  }
  .chef__item-title {
    margin-top: 20px;
  }
  .slider__item-box {
    margin-top: 20px;
  }
  .slider__item-minimg {
    margin-left: 60px;
  }
  .slider__item-title {
    margin-left: 60px;
  }
  .slider__item-subtitle {
    margin-left: 60px;
  }
  .berry6 {
    right: 350px;
  }
}

@media (max-width: 850px) {
  .content__box {
    padding-left: 400px;
  }
  .leaf5 {
    left: 70px;
  }
  .slider__item-subtitle {
    padding-right: 20px;
    padding-bottom: 10px;
  }
  .berry6 {
    right: 300px;
    top: 850px;
  }
  .footer__form-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__input {
    margin-bottom: 20px;
  }
  .leaf7 {
    bottom: 0px;
  }
  .berry8 {
    bottom: 0px;
  }
  .footer__btn {
    z-index: 300;
  }
  .nav {
    display: none;
  }
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__top {
    padding-top: 30px;
  }
}

@media (max-width: 760px) {
  .header__top-tel {
    margin-left: 0;
  }
  .catalog__card {
    max-width: 100%;
  }
  .content__box {
    padding-left: 350px;
  }
  .slider__item-userimg {
    width: 300px;
  }
  .slider__item-title {
    margin-top: 10px;
  }
  .slider__item-subtitle {
    margin-top: 10px;
  }
  .slider-wrap__title {
    padding-right: 10px;
    padding-left: 10px;
  }
  .leaf5 {
    top: 370px;
    left: 150px;
  }
}

@media (max-width: 680px) {
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 265;
  }
  .header__logo {
    margin-left: 10px;
  }
  .header__title-box {
    padding-top: 20px;
    text-align: center;
    position: relative;
    z-index: 260;
  }
  .content__box {
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
  }
  .content__title {
    color: #000;
  }
  .content {
    background-position: -450px 50px;
  }
  .content__subtitle {
    margin-top: 70px;
  }
  .content__item-box {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .chef__item-name {
    left: 0px;
  }
  .chef__item-prof {
    left: 0px;
  }
  .chef__item-img {
    width: 80%;
  }
  .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .slider__item-box {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .slider__item-userimg {
    padding-right: 0px;
  }
  .berry6 {
    right: 0px;
    top: 600px;
  }
  .leaf5 {
    top: 400px;
    left: 0px;
  }
  .slider-wrap__title {
    padding-top: 180px;
    padding-bottom: 50px;
  }
}

@media (max-width: 600px) {
  .chef__item-title {
    margin-top: 100px;
  }
  .catalog__title {
    margin-top: 100px;
  }
  .header__title {
    color: #960000;
  }
  .header__subtitle {
    color: #960000;
  }
}

@media (max-width: 500px) {
  .content__item-box {
    margin-top: 100px;
  }
  .content__skype {
    color: #000;
  }
  .content__telegram {
    color: #000;
  }
  .content__box {
    padding-left: 0px;
    padding-right: 0px;
  }
  .chef__item-name {
    top: 450px;
  }
  .chef__item-prof {
    top: 515px;
  }
  .leaf4 {
    display: none;
  }
  .slider-wrap__title {
    font-size: 26px;
    line-height: 40px;
    padding-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .chef__item-name {
    top: 400px;
  }
  .chef__item-prof {
    top: 458px;
  }
  .slider__item-username {
    padding-bottom: 0;
  }
  .slider__item-minimg {
    margin-left: 0px;
  }
  .berry6 {
    top: 400px;
  }
  .footer__title {
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer__subtitle {
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer__top {
    height: 90px;
  }
  .footer__checkbox {
    margin-left: 20px;
  }
  .berry7 {
    top: 10px;
  }
  .leaf6 {
    top: 10px;
  }
  .footer__input {
    width: 90%;
  }
  .footer__btn {
    width: 90%;
  }
  .catalog__title {
    margin-top: 200px;
  }
}

@media (max-width: 300px) {
  .catalog__title {
    margin-top: 300px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat';
  color: #081130;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/*HEADER*/
.header {
  background-image: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.header__logo {
  margin-top: 47px;
  margin-left: 370px;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 143%;
  text-decoration: none;
  color: #fff;
}

.header__logo:hover {
  color: #f8e217;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.header__top-loc {
  margin-top: 47px;
  margin-left: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 170px;
  width: 100%;
}

.header__top-icon {
  margin-right: 15px;
}

.header__top-sity {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
}

.header__top-adress {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
}

.header__top-tel {
  margin-top: 47px;
  margin-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top-telicon {
  margin-right: 15px;
}

.header__top-telnumber {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 152%;
}

.header__top-telnumber:hover {
  color: #ffe600f5;
}

.header__top-teltitle {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
}

.header__title {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -1px;
}

.header__title-box {
  margin-top: 150px;
  margin-left: 270px;
  max-width: 650px;
  width: 100%;
}

.header__subtitle {
  margin-top: 24px;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 143%;
  margin-bottom: 40px;
}

.header__btn {
  background-color: #FED84C;
  padding: 30px 50px;
  border-radius: 8px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 152%;
  color: #2E363E;
}

.header__btn:hover {
  background-color: rgba(240, 216, 3, 0.74);
}

.header__btn:active {
  background-color: #ff0505;
}

.header .nav {
  position: fixed;
  top: -120px;
  width: 100%;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  z-index: 200;
  background-color: white;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header__menu-item {
  padding: 10px;
  margin-left: 30px;
}

.header__menu-link {
  color: #081130;
  text-decoration: none;
  font-weight: bold;
}

.header__menu-link:hover {
  color: rgba(240, 216, 3, 0.74);
}

/*MOBILE MENU*/
.mobile-menu {
  position: fixed;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 16px;
  top: 0;
  background-color: #010715;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 9999999;
}

.mobile-menu__btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

.mobile-menu__icon {
  display: block;
  position: relative;
  background: white;
  width: 90%;
  height: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}

.mobile-menu__icon::after, .mobile-menu__icon::before {
  content: "";
  display: block;
  position: absolute;
  background: white;
  width: 100%;
  height: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}

.mobile-menu__icon::after {
  top: 8px;
}

.mobile-menu__icon::before {
  top: -8px;
}

.mobile-menu__container {
  position: fixed;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 999;
  height: 0;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
  background-color: #01071585;
}

.mobile-menu__list {
  -webkit-transition: .5s;
  transition: .5s;
  list-style: none;
  padding-left: 0;
  margin-top: -50px;
}

.mobile-menu__item {
  font-size: 26px;
  padding-bottom: 15px;
}

.mobile-menu__link {
  text-decoration: none;
  color: #fff;
}

.mobile-menu__checkbox {
  display: none;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__nav {
  opacity: 1;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__container {
  height: 100%;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
  background: transparent;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before,
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
  top: 0;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/*CATALOG*/
.catalog__title {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  color: #2E363E;
}

.catalog__box {
  max-width: 1200px;
  width: 100%;
  margin: 80px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__card {
  max-width: 33%;
  margin: 10px;
  overflow: hidden;
  display: inline-block;
}

.catalog__card-img {
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.catalog__card-img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.catalog__card-box {
  max-width: 350px;
  width: 100%;
  padding: 40px;
}

.catalog__card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 143%;
  color: #2E363E;
  margin-bottom: 15px;
}

.catalog__card-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 15px;
}

.catalog__card-price {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #434B53;
  margin-bottom: 35px;
}

.catalog__card-btn {
  background-color: #FED84C;
  color: #2E363E;
  padding: 20px 40px;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  font-weight: 600;
}

.catalog__card-btn:hover {
  background-color: rgba(240, 216, 3, 0.74);
  color: #081130;
}

.catalog__card-btn:active {
  background-color: #ff0505;
}

.catalog__input {
  max-width: 450px;
  width: 100%;
  height: 65px;
  background: #F2F6FA;
  border-radius: 5px;
  border: none;
  padding-left: 30px;
  margin: 5px auto;
}

.catalog__textarea {
  margin-top: 10px;
  max-width: 450px;
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 5px;
  padding: 15px;
  background: #F2F6FA;
}

.catalog__btn {
  background-color: #FED84C;
  color: #2E363E;
  padding: 20px 40px;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  margin-top: 5px;
}

.catalog__btn__btn:hover {
  background-color: rgba(240, 216, 3, 0.74);
  color: #081130;
}

.catalog__btn__btn:active {
  background-color: #ff0505;
}

/*CONTENT*/
.content {
  height: 1350px;
  background-image: url(../img/content-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content__box {
  padding-top: 450px;
  padding-left: 1000px;
  padding-right: 350px;
}

.content__title {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  color: #fff;
  letter-spacing: -1px;
}

.content__subtitle {
  padding-top: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 143%;
  letter-spacing: -0.2px;
  color: #fff;
}

.content__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.content__skype {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 143%;
  letter-spacing: -0.2px;
  color: #fff;
}

.content__telegram {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 143%;
  letter-spacing: -0.2px;
  color: #fff;
}

.content__icon {
  width: 50px;
  margin-right: 15px;
}

/*CHEF*/
.chef__box {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chef__item-title {
  margin-top: 150px;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -1px;
  color: #2E363E;
}

.chef__item-list {
  margin-top: 30px;
}

.chef__item-punct {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #2E363E;
  margin-top: 15px;
  padding-right: 100px;
}

.chef__item-punct:last-child {
  margin-bottom: 80px;
}

.chef__item-btn {
  padding: 30px 50px;
  border: none;
  background: #FED84C;
  border-radius: 8px;
  margin-top: 30px;
  cursor: pointer;
  text-decoration: none;
  color: #2E363E;
  margin-left: 40px;
}

.chef__item-btn:active {
  background-color: #ff0505;
}

.chef__item-position {
  position: relative;
}

.chef__item-img {
  position: relative;
  z-index: 50;
}

.chef__item-name {
  position: absolute;
  left: -100px;
  top: 550px;
  z-index: 60;
}

.chef__item-prof {
  position: absolute;
  left: -100px;
  top: 610px;
  z-index: 70;
}

/*SLIDER*/
.slider-wrap {
  position: relative;
  background: #081130;
  height: 1300px;
}

.slider-wrap__top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35%;
  background-image: url(../img/slider-top.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-wrap__title {
  padding-top: 280px;
  padding-bottom: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: white;
}

.slider-wrap__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35%;
  background-image: url(../img/slider-bottom.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider {
  max-width: 1920px;
  width: 100%;
}

.slider__item-box {
  margin-top: 70px;
}

.slider__item-minimg {
  margin-left: 140px;
}

.slider__item-title {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 143%;
  color: #2E363E;
  margin-left: 140px;
  padding-right: 70px;
  margin-top: 30px;
}

.slider__item-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 170%;
  color: #2E363E;
  margin-top: 20px;
  margin-left: 140px;
  padding-right: 90px;
}

.slider__item-userimg {
  margin-right: 50px;
  border-radius: 50%;
}

.slider__item-username {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 143%;
  text-align: center;
  color: #2E363E;
  padding-top: 15px;
  padding-bottom: 40px;
  margin-right: 50px;
}

/*GALLERY*/
.gallery__title {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -1px;
  color: #2E363E;
}

.gallery__subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 143%;
  text-align: center;
  color: #2E363E;
}

.gallery__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.gallery__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.gallery__img {
  max-width: 99.5%;
}

/*FOOTER*/
.footer {
  background: #081130;
  position: relative;
  height: 850px;
  /*&__form {}*/
}

.footer__top {
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-image: url(../img/footer__top.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__wrapper {
  max-width: 1200px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  border-radius: 5px;
}

.footer__title {
  padding-top: 70px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 133%;
  text-align: center;
  color: #2E363E;
}

.footer__subtitle {
  margin-top: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 143%;
  text-align: center;
  letter-spacing: -0.2px;
  color: #2E363E;
}

.footer__form-box {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__input {
  width: 380px;
  height: 85px;
  background: #F2F6FA;
  border-radius: 8px;
  border: none;
  padding-left: 30px;
  margin-right: 5px;
}

.footer__btn {
  width: 380px;
  height: 86px;
  left: calc(50% - 380px/2 + 200px);
  top: calc(50% - 86px/2);
  background-color: #FED84C;
  border-radius: 8px;
  border: none;
  margin-left: 5px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 152%;
  color: #2E363E;
}

.footer__btn:hover {
  background-color: rgba(240, 216, 3, 0.74);
}

.footer__btn:active {
  background-color: #ff0505;
}

.footer__link-box {
  margin-top: 25px;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__checkbox {
  margin-right: 10px;
}

.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 130%;
  color: #2E363E;
}

.footer__link a {
  color: #2E363E;
}

.berry9 {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 0px;
  bottom: 20px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.leaf8 {
  position: absolute;
  width: 150px;
  height: 150px;
  right: 0px;
  top: 80px;
  -webkit-transform: rotate(160deg);
          transform: rotate(160deg);
}
/*# sourceMappingURL=style.css.map */